[submodule "external/bit_span"]
	path = external/bit_span
	url = https://github.com/tudocomp/bit_span.git
[submodule "external/tudostats"]
	path = external/tudostats
	url = https://github.com/tudocomp/tudostats.git
[submodule "external/rigtorphash"]
	path = external/rigtorphash
	url = https://github.com/rigtorp/HashMap
[submodule "external/tslsparse"]
	path = external/tslsparse
	url = https://github.com/Tessil/sparse-map
[submodule "external/googlesparse"]
	path = external/googlesparse
	url = https://github.com/sparsehash/sparsehash
[submodule "external/smhasher"]
	path = external/smhasher
	url = https://github.com/aappleby/smhasher
[submodule "external/compact_sparse_hash"]
	path = external/compact_sparse_hash
	url = https://github.com/tudocomp/compact_sparse_hash
[submodule "external/separate_chaining"]
	path = external/separate_chaining
	url = https://github.com/koeppl/separate_chaining
[submodule "external/sparsepp"]
	path = external/sparsepp
	url = https://github.com/greg7mdp/sparsepp
[submodule "external/broadwordsearch"]
	path = external/broadwordsearch
	url = https://github.com/koeppl/broadwordsearch
[submodule "external/patchmap"]
	path = external/patchmap
	url = https://github.com/1ykos/patchmap
[submodule "external/emhash"]
	path = external/emhash
	url = https://github.com/ktprime/emhash
